/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


/* site colour palette */
:root {
    --darkblue: #093c64;
    --orange: #FFA273;
    --yellow: #FAF15D;
    --verdigris: #3DB4B4;
}

/* generic style reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body.gallery h1 {
    margin-top: 100px;
}


body.home {
    width: 100%;
    background-image: url("img/ultra-bungee-hero.jpg");
    background-attachment:fixed;
    background-size:cover;
    text-align: center;
    align-items: center;

}


body.home .container {
    margin: 380px 55px 0 55px;
    padding: 25px;
    background:#faf25df8;
    align-items:center;
    animation: fadeIn 2s;
    }

body.bridge .container {
    background-image: url("img/bridge_hero_image.jpg");
    background-size: 100%;
    width: 100%;
    padding: 205px 0 205px 0;
    align-items: center;
    animation: fadeIn 2s;
    text-align: center;
    }

body.canyon .container {
    background-image: url("img/canyon1.jpg");
    background-size: 100%;
    width: 100%;
    padding: 205px 0 205px 0;
    align-items: center;
    animation: fadeIn 2s;
    text-align: center;
    }

body.tower .container {
    background-image: url("img/tower1.jpg"); 
    background-size: 100%;
    width: 100%;
    padding: 205px 0 205px 0;
    align-items: center;
    animation: fadeIn 2s;
    text-align: center;
    }

body.gallery {
    width:100%;
    background-color: var(--orange);
    align-items: center; 
}

body.bridge .box {
    margin: 10px;
    border: 10px dashed var(--verdigris);
    background-color: var(--yellow);
}

body.canyon .box {
    margin: 10px;
    border: 10px dashed var(--yellow);
    background-color: var(--verdigris);
}

body.tower .box {
    margin: 10px;
    border: 10px dashed gold ;
    background-color: white;
}

body.bridge .container h1 {
    color: white;
    background-color: var(--darkblue);
    margin: 25px 50px;
}

body.canyon .container h1 {
    color: var(--darkblue);
    background-color: gold;
    margin: 25px 50px;
}

body.tower .container h1 {
    color: var(--orange);
    background-color: var(--yellow);
    margin: 25px 50px;
}

body.bridge, body.canyon, body.tower{
    background-color: var(--verdigris);
}

body.canyon {
    background-color: var(--yellow);
}
body.tower{
    background-color: gold;
}

body.bridge h1, body.canyon h1, body.tower h1 {
    margin: 0 500px;
    color: var(--darkblue);
    text-align:center;
}

header {
    padding-bottom:50px;
    background-color: var(--verdigris);
    font-family: 'Lato', sans-serif;
}

header img{
    width:10%;
    height: 55px;
    margin: 5px 0 0 22px;
    float: left; 

}

nav {
    margin: 25px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}

.hero_image {
    width:100%;
    height: 605px;
}

/* add your own style rules here */
h1 {
    margin:0 200px 15px 200px;
    font-family:'Oswald', sans-serif;
    font-size: 60px;
    color:var(--darkblue);
    text-align: center;
    text-transform: uppercase;
    }

h2 {
    font-family: 'Lato';
    font-weight: 5000px;
    color: var(--darkblue);
    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
    color:var(--darkblue);
    text-align: center;

}

h4 {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    color:var(--darkblue);
    text-align: center;
}


a {
    margin: 10px;
    font-weight: bold;
    color: var(--darkblue);
    text-decoration: none;
}

.active {
    color:var(--yellow);
}

a:hover {
    color:gold;
}

.button {
    margin-top: 20px;
    padding:10px 20px;
    border: none;
    border-radius: 5px; 
    background-color: var(--orange);
    font-family: 'Lato';
    font-size: 20px;
    color: var(--darkblue);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: var(--verdigris);
    filter: brightness(110%);
  }
  
.button:active {
    background-color: var(--verdigris);
  }


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul {
    margin: 0 50px;
    color: var(--darkblue);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.photos {
    align-items: center;
    margin: 50px 250px 0 250px;
}

body.bridge footer, body.canyon footer, body.tower footer {
    margin-top: 50px;
    padding: 15px;
    background-color: var(--darkblue);
    font-size:20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    }

body.gallery footer {
 margin-top: 290px;
}

footer {
    margin-top: 250px;
    padding: 15px;
    background-color: var(--darkblue);
    font-size:20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    }